header {
  background-color: #336699;
  padding: 8px;
}

h1 {
  display: inline;
  font-size: large;
  color: #ffffff;
}

.social {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
}

.social li {
  list-style-type: none;
  float: left;
  margin-right: 8px;
}

.wrapper {
  margin: 0 auto;
}

.main {
  padding: 10px;
}

.footer-global {
  position: relative;
  clear: both;
}

.footer-global .credit {
  padding: 10px 0;
  text-align: center;
  font-size: small;
}

.footer {
  padding: 3px;
  background-color: #336699;
  color: #ffffff;
  text-align: center;
  font-size: small;
}

.screen--camera,
.screen--upload {
  display: none;
}

.stage {
  display: block;
}

.stage canvas {
  height: 480px;
}

.stage img {
  display: none;
}

.loading {
  position: fixed;
  left: 50%;
  top: 50%;

  width: 192px;
  height: 108px;
  margin-left: -96px;
  margin-top: -54px;
}