@charset "utf-8";
header {
	background-color: #336699;
	padding: 8px;
}

h1 {
	display: inline;
	font-size: medium;
	color: #ffffff;
}

.social {
	display: inline;
	float: right;
	margin: 0;
	padding: 0;
}

.social li {
	list-style-type: none;
	float: left;
	margin-right: 4px;
}
