@charset "utf-8";
.wrapper {
	width: 960px;
	background-color: #FFFFFF;
	margin: 0 auto; /* 幅に加え、両側を自動値とすることで、レイアウトが中央に揃います。 */
}
/* ~~ ヘッダーには幅は指定されません。ヘッダーはレイアウトの幅全体まで広がります。~~ */
header {
}

.main {
	width: 780px;
	float: left;
}
.sub {
	float: left;
	width: 180px;
}

/* ~~ フッター ~~ */
footer {
	position: relative;
	clear: both;
}


h1 {
	font-size: medium;
	color: #ffffff;
	background-color: #336699;
	padding: 8px;
}

.subFooter {
	text-align: center;
	font-size: small;
}

.footer {
	background-color: #336699;
	color: #ffffff;
	text-align: center;
	font-size: small;
}

.attention {
	font-size:small;
	color:#999;
}

.serviceAttention {
	font-size:small;
	color:#999;
}
