doctype html
html
  meta(charset='utf-8')
  head
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='Shortcut Icon', type='image/x-icon', href='favicon.ico')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    title 提供目ーカー
  body
    // Facebook
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    // /Facebook
    header
      h1 提供目ーカー
      ul.social
        li
          a.hatena-bookmark-button(href='http://b.hatena.ne.jp/entry/http://tekyomaker.onra.in/', data-hatena-bookmark-title='提供目ーカー', data-hatena-bookmark-layout='standard', title='このエントリーをはてなブックマークに追加')
            img(src='http://b.st-hatena.com/images/entry-button/button-only.gif', alt='このエントリーをはてなブックマークに追加', width='20', height='20', style='border: none;')
          script(type='text/javascript', src='http://b.st-hatena.com/js/bookmark_button.js', charset='utf-8', async='async')
        li
          .fb-like(data-href='http://tekyomaker.onra.in/', data-send='false', data-layout='button_count', data-width='120', data-show-faces='false')
        li
          a.twitter-share-button(href='https://twitter.com/share', data-url='http://tekyomaker.onra.in/', data-lang='ja', data-hashtags='tekyomaker') ツイート
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    .wrapper
      .main
        p
          a(href='./') 提供目ーカー
          | は、誰でも簡単に
          a(href='http://dic.nicovideo.jp/a/%3C%E6%8F%90%3E%3C%E4%BE%9B%3E', target='_blank') 提供目
          | をつくることができるサービスです。
          br
          |   複数人が写っている写真にも対応しています。（
          a(href='./?type=twitter&twitterID=t_ishin&sponsor%5B%5D=%E5%A4%A7%E9%98%AA%E9%83%BD') サンプル1
          | ）（
          a(href='./?type=imageUrl&imageUrl=http%3A%2F%2Fnews.walkerplus.com%2F2011%2F0917%2F2%2F20110915171944_00_400.jpg&sponsor%5B%5D=TATSUYA+KAWAGOE&sponsor%5B%5D=%E5%90%89%E9%87%8E%E5%AE%B6') サンプル2
          | ）
        form.form-main(method='get', action='./')
          section
            h2 画像を選ぶ（PNG, JPEG）
            input.intput-file(type='url', size='70', value='http://news.walkerplus.com/2011/0917/2/20110915171944_00_400.jpg', placeholder='画像のURLを貼り付けてください')
            br
          section
            h2 スポンサーを入力
            div
              button.btn-add-sponsor(type='button') +スポンサーの追加（最大6社）
            ul.list-sponsor
              li.item-sponsor
                input.input-sponsor(type='text', placeholder='例) 株式会社月極')
                button.btn-delete-sponsor(type='button') ×
          .submit
            button(type='submit') 生成！
        section
          h2 出力
          .result
        .serviceAttention ※サービス内容は予告なく変更する場合があります。
        // /.main
      footer.footer-global
        .credit
          | 提供目ーカーは、
          a(href='http://onra.in/') 音羅院一族
          | と、ゴランノス・ポンサーの提供でお送りしています。
        .footer Copyright 2012 - 2016 音羅院一族
      // /.wrapper

    .content-box
      .screen.screen--select(data-step='0')
        ul.list-method
          li.item
            button#StartCamera.bgimg-button.btn-camera(type='button') カメラで撮影する
          li.item
            button.bgimg-button.btn-upload(type='button') 画像をアップロード
        // /.screen-select
      .screen.screen--camera(data-step='1')
        p.instruction ガイドに合わせて撮影してください。
        .face-canvas
          #Camera.camera
            video#Video(width='400', height='300', autoplay='1')
            .guide
          #Preview.preview
            canvas#Canvas(width='400', height='300')
            canvas#CanvasDummy(width='400', height='300', style='display: none;')
        p.btn-shooting
          button#Capture.bgimg-button.button_state-type_four(type='submit') 撮影する
        p.btn-navigate-upload
          button.bgimg-button(type='button') 画像をアップロード
        // /.screen-camera
      .screen.screen--upload(data-step='1')
        p.instruction 正面から撮った、顔全体が写っている画像をアップロードしてください。
        #DragAndDrop.face-canvas
          p.note
            span.none-display ここにドラッグ＆ドロップしてもアップロードできます。
        form
          p#FileSelect.btn-upload
            input.file(type='file', name='img', accept='image/*')
            button.bgimg-button.button_state-type_four(type='button') 画像をアップロード
        p.btn-navigate-camera
          button.bgimg-button(type='button')
            span.none-display カメラで撮影する
        // /.screen-upload
      .loading
        .loading-icon
      // /.content-box

    button.btn-draw 描画

    script(src='js/lib/jquery.min.js')
    script(src='js/lib/eventemitter2.js')
    script(src='js/lib/staircase.js')
    script(src='js/lib/FCClientJS.js')
    script(src='js/auth_code.js')
    script(src='js/main.js')
