doctype html
html
  meta(charset='utf-8')
  head
    link(rel='icon', href='favicon.ico', type='image/x-icon')
    link(rel='Shortcut Icon', type='image/x-icon', href='favicon.ico')
    link(href='bower_components/reset-css/reset.css', rel='stylesheet', type='text/css')
    link(href='bower_components/material-design-lite/material.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet', type='text/css')
    link(href='css/style.css', rel='stylesheet', type='text/css')
    title 提供目ーカー
  body
    include ./includes/fb-root.jade
    header
      h1 提供目ーカー
      ul.social
        include ./includes/social.jade
    .wrapper
      .main
        p
          a(href='./') 提供目ーカー
          | は、誰でも簡単に
          a(href='http://dic.nicovideo.jp/a/%3C%E6%8F%90%3E%3C%E4%BE%9B%3E', target='_blank') 提供目
          | をつくることができるサービスです。
          br
        p
          | 複数人が写っている写真にも対応しています。
        .block-input
          .screen.screen--select(data-step='0')
            ul.list-method
              li.item
                button#StartCamera.material-icons.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button.btn-camera(type='button') photo_camera
              li.item
                button.material-icons.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button.btn-upload(type='button') file_upload
            // /.screen-select
          .screen.screen--camera(data-step='1')
            p.instruction ガイドに合わせて撮影してください。
            .face-canvas
              #Camera.camera
                video#Video(width='400', height='300', autoplay='1')
                .guide
              #Preview.preview
                canvas#Canvas(width='400', height='300')
                canvas#CanvasDummy(width='400', height='300')
            p.btn-shooting
              button.material-icons#Capture.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button.button_state-type_four(type='button') photo_camera
            p.btn-navigate-upload
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button(type='button') 画像をアップロード
            // /.screen-camera
          .screen.screen--upload(data-step='1')
            p.instruction 正面から撮った、顔全体が写っている画像をアップロードしてください。
            #DragAndDrop.face-canvas
              p.note
                span.none-display ここにドラッグ＆ドロップしてもアップロードできます。
            form
              p#FileSelect.btn-upload
                input.file(type='file', name='img', accept='image/*')
                button.material-icons.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button.button_state-type_four(type='button') file_upload
            p.btn-navigate-camera
              button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.bgimg-button(type='button')
                span.none-display カメラで撮影する
            // /.screen-upload
          section
            h2 スポンサーを入力
            div
              button.icon.material-icons.mdl-button.mdl-js-button.mdl-js-ripple-effect.mdl-button--fab.btn-add-sponsor(type='button') add
            ul.list-sponsor
              li.item-sponsor
                input.mdl-textfield__input.input-sponsor(type='text', placeholder='例) 株式会社月極')
                button.material-icons.mdl-button.mdl-js-button.mdl-button--fab.mdl-button--mini-fab.btn-delete-sponsor(type='button') delete
          .submit
            button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.btn-generate(type='button') 生成！
        .serviceAttention ※サービス内容は予告なく変更する場合があります。
        // /.main
      footer.footer-global
        .credit
          | 提供目ーカーは、
          a(href='http://onra.in/') 音羅院一族
          | と、ゴランノス・ポンサーの提供でお送りしています。
        .footer Copyright 2012 - 2016 音羅院一族
      // /.wrapper

    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/material-design-lite/material.min.js')
    script(src='bower_components/eventemitter2/lib/eventemitter2.js')
    script(src='js/lib/staircase.js')
    script(src='js/lib/FCClientJS.js')
    script(src='js/auth_code.js')
    script(src='js/main.js')
